# Ports de l'application
FLASK_PORT=5000
N8N_PORT=5678
QDRANT_PORT=6333
MONGO_PORT=27017

# Webhooks n8n (Remplacez par vos propres URLs de webhooks)
CHAT_WEBHOOK_URL=http://localhost:5678/webhook/VOTRE_WEBHOOK_CHAT_ID/chat
LOGIN_WEBHOOK_URL=http://localhost:5678/webhook/solife-login
